<dx-data-grid #dataGrid
  id="gridContainer"
  [dataSource]="data"
  [repaintChangesOnly]="true"
  [showBorders]="true"
  [columnMinWidth]="100"
  [columnAutoWidth]="true"
  [allowColumnReordering]="true"
  [customizeColumns]="customizeColumns"
  syncLookupFilterValues="false"
  (onOptionChanged)="onGridOptionChanged($event)">
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-grouping
        [contextMenuEnabled]="true">
    </dxo-grouping>
    <dxo-group-panel
        [visible]="true">
    </dxo-group-panel>
    <dxo-header-filter [visible]=true></dxo-header-filter>
    <dxo-filter-row [visible]=true></dxo-filter-row>

    <dxo-filter-panel *ngIf="filters" [visible]="true">
      <dxo-texts createFilter="Advanced Filter"></dxo-texts>
    </dxo-filter-panel>
    <dxo-filter-builder *ngIf="filters"
      [groupOperations]="['and']"
      [maxGroupLevel]="0"
      [customOperations]="customOperations"
      [allowHierarchicalFields]="true">
          <dx-select-box
            *dxTemplate="let condition of 'drpDropdown'"
            [dataSource]="insurers"
            displayExpr="name"
            valueExpr="name"
            [value]="condition.value"
            (onValueChanged)="condition.setValue($event.value)">
          </dx-select-box>
    </dxo-filter-builder>
    <dxo-filter-builder-popup *ngIf="filters" [position]="popupPosition" title="Advanced Filter"></dxo-filter-builder-popup>

    <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
    <dxo-paging [pageSize]="25"></dxo-paging>
    <dxo-pager
        [visible]="true"
        [allowedPageSizes]="[25,50,100,'all']"
        [showPageSizeSelector]=true
    ></dxo-pager>
    <dxo-editing
      mode="form"
      refreshMode="repaint"
      [allowAdding]="!!newObjFields.length"
      [allowDeleting]="!!newObjFields.length"
      [useIcons]="true">
      <dxo-texts [confirmDeleteMessage]="confirmDeleteMsg"></dxo-texts>
      <dxo-form>
        <dxi-item *ngFor="let field of newObjFields" [dataField]="field" [isRequired]="true"></dxi-item>
      </dxo-form>
    </dxo-editing>
    <dxi-column type="buttons" [fixed]="true" fixedPosition="left">
      <dxi-button name="delete"></dxi-button>
      <dxi-button
        hint="View Profile"
        icon="find"
        [onClick]="onViewClick"
      ></dxi-button>
    </dxi-column>

    <dxi-column dataField="drp_filter" caption="Marketing Efforts / DRP Relationships" [visible]="false" [filterOperations]="['excludeDRP']"></dxi-column>

    <!-- Dynamic Table Columns -->
    <dxi-column *ngFor="let column of tableColumns"
      [dataField]="column.dataField"
      [calculateFilterExpression]="calculateFilterExpression"
      [headerFilter]="headerFilters[column.dataField]"
      [filterOperations]="filterOperations"
      [caption]="column.caption"
      [visible]="isDefaultCol(column)"
      [fixed]="column.dataField==='name'"
      [sortIndex]="sortColumn('i',column)"
      [sortOrder]="sortColumn('o',column)">
    </dxi-column>

</dx-data-grid>