<dx-data-grid
  id="gridContainer"
  [dataSource]="data"
  [showBorders]="true"
  [columnMinWidth]="100"
  [columnAutoWidth]="true"
>
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-grouping
        [contextMenuEnabled]="true">
    </dxo-grouping>
    <dxo-group-panel
        [visible]="true">
    </dxo-group-panel>
    <dxo-header-filter [visible]=true></dxo-header-filter>
    <dxo-filter-row [visible]=true></dxo-filter-row>
    <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
    <dxo-paging [pageSize]="25"></dxo-paging>
    <dxo-pager
        [visible]="true"
        [allowedPageSizes]="[25,50,100,'all']"
        [showPageSizeSelector]=true
    ></dxo-pager>
    <dxo-editing
      mode="form"
      refreshMode="repaint"
      [allowAdding]="!!newObjFields.length"
      [allowDeleting]="true"
      [useIcons]="true">
      <dxo-texts [confirmDeleteMessage]="confirmDeleteMsg"></dxo-texts>
      <dxo-form>
        <dxi-item *ngFor="let field of newObjFields" [dataField]="field" [isRequired]="true"></dxi-item>
      </dxo-form>
    </dxo-editing>
    <dxi-column type="buttons" [width]="110" [fixed]="true" fixedPosition="left">
      <dxi-button name="delete"></dxi-button>
      <dxi-button
        hint="View Profile"
        icon="find"
        [onClick]="onViewClick"
      ></dxi-button>
    </dxi-column>
    <!-- <dxi-column *ngFor="let column of tableColumns"
      [dataField]="column.field"
      [caption]="column.caption"
      [visible]="isDefaultCol(column)"
      [fixed]="column.field==='name'"
      [sortIndex]="sortColumn('i',column)"
      [sortOrder]="sortColumn('o',column)"
    >
    </dxi-column> -->

    <dxi-column *ngFor="let column of tableColumns"
      [dataField]="column.field"
      [calculateFilterExpression]="calculateFilterExpression"
      [headerFilter]="headerFilters[column.field]"
      [filterOperations]="filterOperations"
      [caption]="column.caption"
      [visible]="isDefaultCol(column)"
      [fixed]="column.field==='name'"
      [sortIndex]="sortColumn('i',column)"
      [sortOrder]="sortColumn('o',column)">
    </dxi-column>


</dx-data-grid>