<dx-sortable
    [group]=true
    itemOrientation="vertical"
    handle=".handle"
    (onReorder)="onListReorder($event)"
>
    <ng-template ngFor let-category [ngForOf]="data" let-i="index" [ngForTrackBy]="trackByFn">
        <div>
            <i class="handle dx-icon dx-icon-dragvertical"></i>
            <dx-accordion
                #accordion
                [dataSource]="[category]"
                [collapsible]="true"
                [multiple]="true"
                [animationDuration]="300"
            >
                <div class="list-title" *dxTemplate="let category of 'title'">
                    {{ category.title }}
                </div>
                <div *dxTemplate="let category of 'item'">
                    <!-- Nested Fields -->
                    <dx-data-grid
                        [dataSource]="category.fields"
                    >
                        <dxo-editing
                            mode="popup"
                            [allowUpdating]="true"
                            [allowAdding]="true"
                            [allowDeleting]="true"
                        >
                            <dxo-popup
                                title="Field Info"
                                [showTitle]="true"
                                [width]="500"
                                [height]="600"
                            >
                            </dxo-popup>
                            <dxo-form>
                                <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
                                  <dxi-item dataField="title"></dxi-item>
                                  <dxi-item dataField="type" [editorOptions]="{ readOnly: true }"></dxi-item>
                                </dxi-item>

                                <dxi-item
                                  itemType="group" caption="Options"
                                  [colCount]="1"
                                  [colSpan]="2"
                                >
                                  <!-- Display Options -->
                                </dxi-item>
                              </dxo-form>
                        </dxo-editing>
                        <dxo-sorting mode="none"></dxo-sorting>
                        <dxo-row-dragging
                            [allowReordering]="true"
                            [onReorder]="onReorder"
                            dropFeedbackMode="push"
                        ></dxo-row-dragging>
                        <dxi-column dataField="title" caption="Field Name"></dxi-column>
                        <dxi-column dataField="type" caption="Type"></dxi-column>
                        <dxi-column dataField="sort_order" sortOrder="asc" [visible]=false></dxi-column>
                    </dx-data-grid>
                </div>
            </dx-accordion>
        </div>
    </ng-template>
</dx-sortable>