<div class="secondary-menu">
    <dx-toolbar>
        <dxi-item
            text="Manage Fields"
            location="before"
            widget="dxTabs"
            locateInMenu="auto"
            [options]="sourceClassTabs"
        >
        </dxi-item>
        <dxi-item 
            location="after" 
            widget="dxButton"
            [options]="addCategoryButtonOptions"
        >
        </dxi-item>
        <dxi-item 
            location="after" 
            widget="dxButton"
            [options]="addFieldButtonOptions"
        >
        </dxi-item>
    </dx-toolbar>
</div>

<div class="ui segments">
    <div class="ui secondary segment">

        <app-fields-table
            [dataSource]="dataSource"
            [data]="fields"
            [categoryOptions]="categoryOptions"
            (reorder)="onReorder($event)">
        </app-fields-table>

        <app-category-field-popup *ngIf="popupVisible"
            [visible]="popupVisible"
            [model]="createModel"
            [categoryOptions]="categoryOptions"
            (hide)="togglePopup()">
        </app-category-field-popup>

    </div>
</div>