<form *ngIf="user" class="ui form"
    #detailform="ngForm"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="form">

    <div class="secondary-menu">
        <dx-toolbar>
            <dxi-item location="before" widget="dxButton" [options]="backButtonOptions"></dxi-item>
            <dxi-item location="center" cssClass="name-container" locateInMenu="never">
                <div *ngIf="sourceClass === 'Shop'; then staticHeader else nameHeader"></div>

                <ng-template #staticHeader>
                    <div class="toolbar-label">
                        <b>{{ formValues.name }}</b>
                    </div>
                    <div *ngIf="formValues.account"><a [routerLink]="['/accounts', formValues.account.id]">{{ formValues.account.name }}</a></div>
                    <span id="address-block">{{ formValues.location.address }}<br />
                    {{ formValues.location.city }}, {{ formValues.location.state }} {{ formValues.location.zip }}</span>
                </ng-template>

                <ng-template #nameHeader>
                    <div *dxTemplate class="ui fluid huge input" [ngClass]="{'transparent': !nameField}">
                        <div class="toolbar-label">
                            <input id="name-input-field" type="text" formControlName="name"
                                (blur)="nameField = false"
                                (focus)="nameField = true" />

                                <!-- Hack to size the field above to display the entire value -->
                                <p id="name-value-size">{{ form.get('name').value }}</p>

                        </div>
                    </div>
                </ng-template>
            </dxi-item>
            <dxi-item
                cssClass="submitValid"
                location="after"
                widget="dxButton"
                locateInMenu="auto"
                [disabled]="!form.valid || !form.dirty"
                [options]="saveButtonOptions"
            >
            </dxi-item>
            <dxi-item
                location="after"
                widget="dxButton"
                locateInMenu="auto"
                [disabled]="!form.valid || !form.dirty"
                [options]="refreshButtonOptions"
            >
            </dxi-item>
            <dxi-item
                *ngIf="formElements"
                location="after"
                widget="dxSelectBox"
                locateInMenu="auto"
                [options]="selectBoxOptions"
            >
            </dxi-item>
        </dx-toolbar>
    </div>
    <dx-toast
        *ngIf="saveResponse"
        [(visible)]="saveResponse.visible"
        [type]="saveResponse.type"
        [message]="saveResponse.message">
    </dx-toast>
    <div class="ui tab segment" *ngFor="let element of formElements | sortOrder;"
        [ngClass]="{'active': element.id == selectedTab}"
        attr.data-tab="{{ element.id }}">

        <div *ngIf="element.title === 'Notes'; then noteTemplate else inputLogTemplate"></div>

        <!-- Note Segment -->
        <ng-template #noteTemplate>
            <div class="ui grid">
                <div class="four wide column left floated">
                    <div class="ui fluid vertical pointing menu notes">
                        <a class="item" *ngFor="let field of element.fields | sortOrder; let note_i=index"
                        [ngClass]="{'active': note_i == 0}"
                        attr.data-tab="{{ element.id }}/{{ note_i }}">{{ field.title }}</a>
                    </div>
                </div>
                <div class="twelve wide column right floated">
                    <div class="ui tab secondary segment" *ngFor="let field of element.fields | sortOrder; let note_i=index" style="margin: 0;"
                        [ngClass]="{'active': note_i == 0}"
                        attr.data-tab="{{ element.id }}/{{ note_i }}">
                        <note-feed
                            formArrayName="{{ field.column_name }}"
                            [field]="field"
                            [notes]="form.get(field.column_name)">
                        </note-feed>
                    </div>
                </div>
            </div>
        </ng-template>

        <!-- Inputs / Logging Fields Segment -->
        <ng-template #inputLogTemplate>
            <div class="field" *ngFor="let field of element.fields | sortOrder">

                <div *ngIf="field.type === 'log'; then loggingFieldTemplate else inputTemplate"></div>

                <!-- Input Field -->
                <ng-template #inputTemplate>
                    <div class="ui grid middle aligned content">
                        <div class="right aligned four wide column">
                            <label>{{ field.title }}</label>
                        </div>
                        <div class="ten wide column">
                            <field-control
                                [formGroup]="form"
                                [control]="field">
                            </field-control>
                        </div>
                    </div>
                </ng-template>

                <!-- Logging Field -->
                <ng-template #loggingFieldTemplate>
                    <logging-field
                        formArrayName="{{ field.column_name }}"
                        [field]="field"
                        [logEntries]="form.get(field.column_name)">
                    </logging-field>
                </ng-template>

            </div>
        </ng-template>
    </div>
</form>
