<h2 class="ui header">Account Settings</h2>

<form class="ui form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="userForm">

    <!-- Form Actions -->
    <div class="ui grid middle aligned content" style="min-height: 75px;">
        <div class="left floated thirteen wide column">
            <div class="ui hidden message transition">
                <div class="header" *ngIf="message">{{ message.text }}</div>
            </div>
        </div>
        <div class="right floated three wide column">
            <button type="submit" class="ui fluid positive button"
                [disabled]="!userForm.valid || !userForm.dirty">
                Save
            </button>
        </div>
    </div>

    <h4 class="ui dividing header">User Name</h4>
    <div class="field"
        [ngClass]="{ 'error' : userForm.controls.name?.invalid && userForm.controls.name?.dirty }">
        <div class="ui fluid input">
            <input type="text" class="ui input" formControlName="name" />
        </div>
    </div>

    <h4 class="ui dividing header">Email Address</h4>
    <div class="field"
        [ngClass]="{ 'error' : userForm.controls.email?.invalid && userForm.controls.email?.dirty }">
        <div class="ui fluid input">
            <input type="text" class="ui input" formControlName="email" />
        </div>
    </div>

    <h4 class="ui dividing header">Password Reset</h4>
    <div formGroupName="pwGroup">
        <div class="field"
            [ngClass]="{ 'error' : userForm.get('pwGroup.password')?.invalid && userForm.get('pwGroup.password')?.dirty }">
            <label>Current Password</label>
            <span *ngIf="userForm.get('pwGroup.password').errors?.required">
                Please enter your current password.
            </span>
            <div class="ui fluid input">
                <input type="password" class="ui input" formControlName="password" (blur)="pwResetControls(userForm.get('pwGroup.password'))" />
            </div>
        </div>
        <div class="field"
            [ngClass]="{ 'error' : userForm.get('pwGroup.newPW')?.invalid && userForm.get('pwGroup.newPW')?.dirty }">
            <label>New Password</label>
            <span *ngIf="userForm.get('pwGroup.newPW').errors?.required">
                Please enter your new password.
            </span>
            <span *ngIf="userForm.get('pwGroup.newPW').errors?.minlength">
                Your new password must be longer than 6 characters.
            </span>
            <div class="ui fluid input">
                <input type="password" class="ui input" formControlName="newPW" (blur)="pwResetControls(userForm.get('pwGroup.newPW'))" />
            </div>
        </div>
        <div class="field"
            [ngClass]="{ 'error' : userForm.get('pwGroup.confirmPW')?.invalid && userForm.get('pwGroup.confirmPW')?.dirty }">
            <label>Confirm Password</label>
            <span *ngIf="userForm.get('pwGroup.confirmPW').errors?.required">
                Please confirm your new password.
            </span>
            <span *ngIf="userForm.get('pwGroup').errors?.match">
                The confirmation does not match the new password.
            </span>
            <div class="ui fluid input">
                <input type="password" class="ui input" formControlName="confirmPW" (blur)="pwResetControls(userForm.get('pwGroup.confirmPW'))"/>
            </div>
        </div>
    </div>

</form>

