<h2 class="ui header">Manage Users</h2>

<div id="users-header" class="ui inverted segment">
    <div class="ui internally celled grid">
        <div class="row">
            <div class="center aligned two wide column">
                <h4 class="ui inverted header">Active</h4>
            </div>
            <div class="center aligned four wide column">
                <h4 class="ui inverted header">Name</h4>
            </div>
            <div class="center aligned four wide column">
                <h4 class="ui inverted header">Email Address</h4>
            </div>
            <div class="center aligned three wide column">
                <h4 class="ui inverted header">Profile</h4>
            </div>
            <div class="three wide column"></div>
        </div>
    </div>
</div>

<div class="ui grid middle aligned content" style="min-height: 47px;">
    <div class="sixteen wide column" style="padding: 0px 1rem;">
        <div class="ui hidden message transition">
            <div class="header" *ngIf="message">{{ message.text }}</div>
        </div>
    </div>
</div>

<div class="ui middle aligned celled list">
    <!-- Create New User -->
    <div class="item" style="background-color: #f3f4f5;">
        <div class="content">
            <form class="ui form"
                #newUserForm="ngForm"
                (ngSubmit)="save(newUser, newUserForm)">
                <div class="inline fields" style="margin:0; padding: 5px 0;">
                    <div class="two wide field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="active" [(ngModel)]="newUser.active" #active="ngModel"/>
                        </div>
                    </div>
                    <div class="four wide field">
                        <input type="text" name="name" [(ngModel)]="newUser.name" required #name="ngModel" />
                    </div>
                    <div class="four wide field">
                        <input type="text" name="email" [(ngModel)]="newUser.email" required email #email="ngModel" />
                    </div>
                    <div class="three wide field" >
                        <div class="ui fluid selection dropdown new user">
                            <select required [(ngModel)]=newUser.profile name="profile" #profile>
                                <option *ngFor="let option of userProfiles"
                                    value="{{ option }}">{{ option }}</option>
                            </select>
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Profile</div>
                            <div class="menu">
                                <div class="item" *ngFor="let option of userProfiles"
                                    [attr.data-value]="option">{{ option }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="three wide field">
                        <button class="ui fluid primary button" type="submit"
                            [disabled]="!newUserForm.dirty || !newUserForm.valid">
                            Create
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Existing Users -->
    <div class="item" *ngFor="let user of userService.userList">
        <div class="middle aligned content">
            <form class="ui form"
                #userForm="ngForm"
                (ngSubmit)="save(user, userForm)">
                <div class="inline fields" style="margin:0; padding: 5px 0;">
                    <div class="two wide field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" [(ngModel)]=user.active name="active" #active />
                        </div>
                    </div>
                    <div class="four wide field">
                        <input type="text" required [(ngModel)]=user.name name="name" #name />
                    </div>
                    <div class="four wide field">
                        <input type="text" required email [(ngModel)]=user.email name="email" #email />
                    </div>
                    <div class="three wide field">
                        <div class="ui fluid selection dropdown">
                            <select required [(ngModel)]=user.profile name="profile" #profile>
                                <option *ngFor="let option of userProfiles"
                                    value="{{ option }}">{{ option }}</option>
                            </select>
                            <i class="dropdown icon"></i>
                            <div class="text">{{ user.profile }}</div>
                            <div class="menu">
                                <div class="item" *ngFor="let option of userProfiles"
                                    [attr.data-value]="option"
                                    [ngClass]="{'active selected': user.profile === option}">
                                    {{ option }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="three wide field">
                        <button class="ui fluid positive button" type="submit"
                            [disabled]="!userForm.dirty || !userForm.valid">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>