<h2 class="ui header">Company Requirements</h2>

<p-table class="ui celled striped table"
    [value]="requirements">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 57px"></th>
            <th>Field</th>
            <th>Condition</th>
            <th>Value</th>
        </tr>
        <tr class="active">
            <th class="middle center aligned">
                <button class="ui basic icon button"
                    [disabled]="!field.valid || !condition.valid"
                    (click)="save()">
                    <i class="green large plus icon"></i>
                </button>
            </th>
            <th>
                <select class="ui fluid dropdown" required
                    [(ngModel)]="newRequirement.field_id" #field="ngModel"
                    (change)="assessSelectedField()">
                    <option value="">Select Requirement Field</option>
                    <option *ngFor="let option of fieldOptions"
                        value="{{ option.id }}">{{ option.title }}
                    </option>
                </select>
            </th>
            <th>
                <div class="ui fluid selection condition dropdown"
                    [ngClass]="{'disabled': !field.valid}">
                    <select required [(ngModel)]="newRequirement.condition" name="condition" #condition="ngModel">
                        <option *ngFor="let option of conditionOptions"
                            value="{{ option.value }}">{{ option.title }}
                        </option>
                    </select>
                    <i class="dropdown icon"></i>
                    <div class="default text">Select Requirement Condition</div>
                    <div class="menu">
                        <div class="item" *ngFor="let option of conditionOptions"
                            [attr.data-value]="option.value">{{ option.title }}
                        </div>
                    </div>
                </div>
            </th>
            <th>
                <ng-container *ngIf="field.valid" [ngSwitch]="valueFieldType">
                    <!-- Text Input -->
                    <div *ngSwitchCase="'text'" class="ui fluid input">
                        <input type="text" required [(ngModel)]="newRequirement.value" #test="ngModel" />
                    </div>

                    <!-- Checkbox -->
                    <div *ngSwitchCase="'checkbox'" class="ui toggle checkbox">
                        <input type="checkbox" tabindex="0" class="hidden" [(ngModel)]="newRequirement.value">
                    </div>

                    <!-- Select || Select Multiple -->
                    <select *ngSwitchCase=" valueFieldType === 'select' || valueFieldType === 'select_multiple' ? valueFieldType : '' "
                        multiple="" class="ui fluid value dropdown" [(ngModel)]="newRequirement.value">
                        <option *ngFor="let option of valueOptions"
                            value="{{ option.id }}">{{ option.title }}
                        </option>
                    </select>
                </ng-container>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-requirement>
        <tr>
            <td class="middle center aligned">
                <i class="red large minus link icon"
                    (click)="delete(requirement.id)"></i>
            </td>
            <td>{{ requirement.field_id }}</td>
            <td>{{ requirement.condition }}</td>
            <td>{{ requirement.value }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr><td colspan="4">No Requirements set.</td></tr>
    </ng-template>
</p-table>