<div class="ui left vertical inverted labeled visible sidebar menu">
    <div class="item">
        <div class="header">Welcome, {{ _authService.currentUser.name }}</div>
        <div class="menu">
            <a class="item" [routerLink]="['/dash']" routerLinkActive="active">Dash Board</a>
            <a class="item" [routerLink]="['/account']" routerLinkActive="active">Account Settings</a>
            <a class="item" [routerLink]="['/users']" routerLinkActive="active">Manage Users</a>
            <a class="item" (click)="logout()">Logout</a>
        </div>
    </div>
    <div class="item">
        <div class="header">Shops</div>
        <div class="menu">
            <a class="item" [routerLink]="['/shops']" routerLinkActive="active">Shop List</a>
            <a class="item" [routerLink]="['/setup/shop']" routerLinkActive="active">Setup</a>
        </div>
    </div>
    <div class="item">
        <div class="header">Insurance Companies</div>
        <div class="menu">
            <a class="item" [routerLink]="['/managers']" routerLinkActive="active">DRP Managers</a>
            <a class="item" [routerLink]="['/setup/manager']" routerLinkActive="active">Setup</a>
        </div>
    </div>
</div>