<form class="ui form"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="managerForm">

    <div class="ui fluid massive input" [ngClass]="{'transparent': managerNameField}">
        <input type="text" formControlName="manager_name"
            (blur)="managerNameField = true"
            (focus)="managerNameField = false" />
    </div>

    <!-- Manager Categories Secondary menu -->
    <div class="ui pointing secondary menu">
        <a class="item" *ngFor="let element of formElements; let tab_i=index"
            [ngClass]="{'active': tab_i == 0}"
            attr.data-tab="{{ tab_i }}">{{ element.title }}</a>
    </div>

    <!-- Form Actions -->
    <div class="ui grid middle aligned content" style="min-height: 75px;">
        <div class="left floated thirteen wide column">
            <div class="ui hidden message transition">
                <div class="header" *ngIf="message">{{ message.text }}</div>
            </div>
        </div>
        <div class="right floated three wide column">
            <button class="ui fluid positive button"
                    [disabled]="!managerForm.valid || !managerForm.dirty">
                Save
            </button>
        </div>
    </div>

    <!-- Manager Category segments -->
    <div class="ui tab segment" *ngFor="let element of formElements; let tab_i=index"
        [ngClass]="{'active': tab_i == 0}"
        attr.data-tab="{{ tab_i }}">

        <div *ngIf="element.title === 'Notes'; then noteTemplate else inputLogTemplate"></div>

        <!-- Note Segment -->
        <ng-template #noteTemplate>
            <div class="ui grid">
                <div class="four wide column left floated">
                    <div class="ui fluid vertical pointing menu notes">
                        <a class="item" *ngFor="let field of element.fields; let note_i=index"
                        [ngClass]="{'active': note_i == 0}"
                        attr.data-tab="{{ tab_i }}/{{ note_i }}">{{ field.title }}</a>
                    </div>
                </div>
                <div class="twelve wide column right floated">
                    <div class="ui tab secondary segment" *ngFor="let field of element.fields; let note_i=index" style="margin: 0;"
                        [ngClass]="{'active': note_i == 0}"
                        attr.data-tab="{{ tab_i }}/{{ note_i }}">
                        <note-feed
                            formArrayName="{{ field.column_name }}"
                            [field]="field"
                            [notes]="managerForm.get(field.column_name)">
                        </note-feed>
                    </div>
                </div>
            </div>
        </ng-template>

        <!-- Inputs / Logging Fields Segment -->
        <ng-template #inputLogTemplate>
            <div class="field" *ngFor="let field of element.fields">

                <div *ngIf="field.type === 'log'; then loggingFieldTemplate else inputTemplate"></div>

                <!-- Input Field -->
                <ng-template #inputTemplate>
                    <div class="ui grid middle aligned content">
                        <div class="right aligned four wide column">
                            <label>{{ field.title }}</label>
                        </div>
                        <div class="ten wide column">
                            <field-control
                                [formGroup]="managerForm"
                                [control]="field">
                            </field-control>
                        </div>
                    </div>
                </ng-template>

                <!-- Logging Field -->
                <ng-template #loggingFieldTemplate>
                    <logging-field
                        formArrayName="{{ field.column_name }}"
                        [field]="field"
                        [logEntries]="managerForm.get(field.column_name)">
                    </logging-field>
                </ng-template>

            </div>
        </ng-template>
    </div>
</form>