<div class="list-container">
    <dx-list
        height="100%"
        width="40%"
        id="profile-shops-container"
        class="profile-container"
        [dataSource]="ds"
        [grouped]="true"
        [focusStateEnabled]="false"
        [activeStateEnabled]="false"
        selectionMode="none"
        (onItemClick)="onItemClick($event)"
        [collapsibleGroups]="true"
    >
      <div *dxTemplate="let shop of 'group'" [disabled]="true">
        <div class="profile-shops-header">
            <b>{{shop.key}}</b>
            <dx-button
                id="add-shop-btn"
                stylingMode="outlined"
                type="default"
                text="Add a Shop"
                [width]="120"
                (onClick)="add($event)"
            >
          </dx-button>
        </div>
      </div>
      <div *dxTemplate="let item of 'item'">
        <div class="shop-list-item">
            <div class="shop-item-info">
                <div><b>{{ item.name }}</b></div>
                <div>{{ item.location.address }}</div>
                <div> {{ item.location.city }}, {{ item.location.state }} {{ item.location.zip }}</div>
            </div>
            <div class="shop-item-actions">
                <dx-button icon="edit" (onClick)="update($event, item)"> </dx-button>
                <dx-button icon="remove" (onClick)="remove($event, item.id)"> </dx-button>
            </div>
        </div>
      </div>
    </dx-list>

    <dx-popup
        width="90%"
        [height]="280"
        [showTitle]="true"
        [title]="popupTitle"
        [dragEnabled]="false"
        [hideOnOutsideClick]="true"
        [showCloseButton]="false"
        container="#profile-shops-container"
        [(visible)]="popupVisible"
    >
        <dxi-toolbar-item
            widget="dxButton"
            toolbar="bottom"
            location="before"
            [options]="saveBtnOptions"
        >
        </dxi-toolbar-item>
        <dxi-toolbar-item
            widget="dxButton"
            toolbar="bottom"
            location="after"
            [options]="closeBtnOptions"
        >
        </dxi-toolbar-item>
        <dxo-position at="center" my="center" [of]="positionOf" collision="fit">
        </dxo-position>
        <div *dxTemplate="let data of 'content'">
            <dx-form #shopForm [formData]="shop"
                labelMode='floating'
                labelLocation='left'
                [colCount]="2">
                <dxi-item dataField="name" [colSpan]="2">
                    <dxi-validation-rule type="required" message="Name is required">
                    </dxi-validation-rule>
                    <dxo-label text="Shop Name"></dxo-label>
                </dxi-item>
                <dxi-item dataField="location.address">
                    <dxi-validation-rule type="required" message="Street Address is required">
                    </dxi-validation-rule>
                    <dxo-label text="Street Address"></dxo-label>
                </dxi-item>
                <dxi-item dataField="location.city">
                    <dxi-validation-rule type="required" message="City is required">
                    </dxi-validation-rule>
                    <dxo-label text="City"></dxo-label>
                </dxi-item>
                <dxi-item dataField="location.state" editorType="dxSelectBox"
                [editorOptions]="stateEditorOptions">
                    <dxi-validation-rule type="required" message="State is required">
                    </dxi-validation-rule>
                    <dxo-label text="State"></dxo-label>
                </dxi-item>
                <dxi-item dataField="location.zip">
                    <dxi-validation-rule type="required" message="Zip Code is required">
                    </dxi-validation-rule>
                    <dxo-label text="Zip Code"></dxo-label>
                </dxi-item>
            </dx-form>
        </div>
    </dx-popup>
</div>