<ng-container *ngIf="isAuthenticated(); else unauthenticated">
  <app-side-nav-outer-toolbar title="{{appInfo.title}}">
    <dx-load-panel 
        [visible]="isLoading$ | async" 
        [message]="'Loading...'" 
        [showIndicator]="true"
        [showPane]="true"
        [shading]="true" 
        [shadingColor]="'rgba(0, 0, 0, 0.5)'" 
        [closeOnOutsideClick]="false"
        [container]="'body'">
    </dx-load-panel>
    <router-outlet></router-outlet>
    <app-footer>
    </app-footer>
  </app-side-nav-outer-toolbar>
</ng-container>

<ng-template #unauthenticated>
  <app-unauthenticated-content></app-unauthenticated-content>
</ng-template>
