<h2 class="ui header">Shop List</h2>
<div class="ui segments">
    <div class="ui segment">
        <div class="ui grid middle aligned content">
            <div class="eight wide column">
                <!-- Shop Filter -->
                <div class="ui fluid input">
                    <input [(ngModel)]="listFilter" placeholder="Filter Shops.."/>
                </div>
            </div>
            <div class="eight wide column">
                <!-- Create New Shop Modal -->
                <shop-create></shop-create>
            </div>
        </div>
    </div>
    <div class="ui secondary segment">
        <!-- Shop List -->
        <div class="ui divided items">
            <div class="item" *ngFor="let shop of shopService.shopList | shopFilter:listFilter">
                <div class="ui grid middle aligned content">
                    <i class="middle aligned red large minus link icon"
                        (click)="delete(shop)">
                    </i>
                    <a [routerLink]="['/shops', shop.id]">{{shop.shop_name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>