<div class="main ui container">
    <h1 class="ui header">{{ shop.shop_name }}</h1>
    
    <!-- Shop Categories Secondary menu -->
    <div class="ui pointing secondary menu">
        <a class="item" *ngFor="let element of formElements"
            [ngClass]="{'active': element.title==='Shop Details'}"
            attr.data-tab="{{ element.title }}">{{ element.title }}</a>
    </div>

    <form class="ui form"
        novalidate
        (ngSubmit)="save()"
        [formGroup]="shopForm">

        <!-- Form Actions -->
        <div class="ui grid middle aligned content" style="min-height: 75px;">
            <div class="left floated thirteen wide column">
                <div class="ui hidden message transition">
                    <div class="header" *ngIf="message">{{ message.text }}</div>
                </div>
            </div>
            <div class="right floated three wide column">
                <button class="ui fluid positive button"
                        [disabled]="!shopForm.valid || !shopForm.dirty">
                    Save
                </button>
            </div>
        </div>

        <!-- Shop Category segments -->
        <div class="ui tab segment" *ngFor="let element of formElements"
            [ngClass]="{'active': element.title==='Shop Details'}"
            attr.data-tab="{{ element.title }}">
            <div class="field" *ngFor="let field of element.fields">
                <!-- Input Field -->
                <div class="ui grid middle aligned content" *ngIf="field.type !== 'log'; else loggingFieldTemplate">
                    <div class="right aligned three wide column">
                        <label>{{ field.title }}</label>
                    </div>
                    <div class="ten wide column">
                        <shop-field-control
                            [formGroup]="shopForm"
                            [control]="field">
                        </shop-field-control>
                    </div>
                </div>
                <!-- Logging Field -->
                <ng-template #loggingFieldTemplate>
                    <shop-logging-field
                        formArrayName="{{ field.column_name }}"
                        [field]="field"
                        [logEntries]="shopForm.get(field.column_name)">
                    </shop-logging-field> 
                </ng-template>
            </div>
        </div>
    </form>
</div>