<div class="ui container">
    <h1>{{ pageTitle }}</h1>
    <div class="ui segments">
        <div class="ui segment">
            <div>
                <h2>{{sectionTitle}}</h2>
            </div>
            <button class="ui small primary labeled icon button"
                    (click)="createCategory()">
                <i class="plus icon"></i>
                Create a new Category
            </button>
            <div *ngIf="errorMessage">{{ errorMessage }}</div>
            <div *ngIf="successMessage">{{ successMessage }}</div>
        </div>
        <div class="ui secondary segment">
            <div class="ui relaxed divided list">
                <div class="item" *ngFor="let category of categories">
                    <i class="middle aligned red large minus link icon"
                        (click)="deleteCategory(category)">
                    </i>
                    <div class="middle aligned content">
                        <div class="ui action input">
                            <input type="text" required
                                    [(ngModel)] = category.title
                                    #categoryTitle = "ngModel"
                                    >
                            <button class="ui icon button"
                                    [disabled]="!categoryTitle.dirty || categoryTitle.invalid"
                                    (click)="saveCategory(category); categoryTitle.control.markAsPristine()">
                                <i class="green checkmark icon"></i>
                            </button>
                        </div>
                        <a class="ui primary button"
                            [routerLink]="['/setup', category.id]">
                            Edit Fields
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui small modal new-category">
        <div class="header">
            Create a new Category
        </div>
        <div class="content"
            *ngIf="newCategory | async; let newCategory;">
            <form class="ui form">
                <div class="field">
                    <label>Title</label>
                    <input type="text" required name="title"
                            [(ngModel)] = "newCategory.title"
                            #newCategoryTitle = "ngModel">
                </div>
            </form>
        </div>
        <div class="actions"
            *ngIf="newCategory | async; let newCategory">
            <button class="ui cancel deny button">Cancel</button>
            <button class="ui positive button"
                    [disabled]="!newCategory.title"
                    (click)="saveCategory(newCategory)">
                Save 
            </button>
        </div>
    </div>
</div>