<div class="ui container">
    <h1>{{ pageTitle }}</h1>
    <div class="ui segments">
        <div class="ui segment">
            <setup-breadcrumb
                [category] = "category"
                [field] = "field"
                [column] = "column">
            </setup-breadcrumb>
            <button class="ui small primary labeled icon button"
                    (click)="create()">
                <i class="plus icon"></i>
                Create a new Option
            </button>
            <div *ngIf="errorMessage">{{ errorMessage }}</div>
            <div *ngIf="successMessage">{{ successMessage }}</div>
        </div>
        <div class="ui secondary segment">
            <div class="ui divided items">
                <setup-action-items
                    [route]="route"
                    [items]="options">
                </setup-action-items>
            </div>
        </div>
    </div>
</div>

<div class="ui small modal new-option">
    <div class="header">
        Create a new Option
    </div>
    <div class="content"
        *ngIf="newOption | async; let newOption;">
        <form class="ui form">
            <div class="field">
                <label>Title</label>
                <input type="text" required name="label"
                    [(ngModel)] = "newOption.label"
                    #newFieldTitle = "ngModel">
            </div>
        </form>
    </div>
    <div class="actions"
        *ngIf="newOption | async; let newOption">
        <button class="ui cancel deny button">Cancel</button>
        <button class="ui positive button"
                [disabled]="!newOption.label"
                (click)="save(newOption)">
            Save 
        </button>
    </div>
</div>