<div class="ui segments">
    <div class="ui segment">
        <setup-breadcrumb
            [category]="category"
            [field]="field"
            [columns]="columns">
        </setup-breadcrumb>
        <button class="ui small primary labeled icon button"
                (click)="createColumn()">
            <i class="plus icon"></i>
            Create a new Column
        </button>
        <div *ngIf="errorMessage">{{ errorMessage }}</div>
        <div *ngIf="successMessage">{{ successMessage }}</div>
    </div>
    <div class="ui secondary segment">
        <div class="ui divided items">
            <setup-action-items
                [route]="route"
                [items]="columns">
            </setup-action-items>
        </div>
    </div>
</div>

<div class="ui small modal new-column">
    <div class="header">
        Create a new Column
    </div>
    <div class="content"
        *ngIf="newColumn | async; let newColumn;">
        <form class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>Title</label>
                    <input type="text" required name="title"
                        [(ngModel)] = "newColumn.title"
                        #newColumnTitle = "ngModel">
                </div>
                <div class="field">
                    <label>Type</label>
                    <select class="ui fluid dropdown" required name="type"
                        [(ngModel)] = "newColumn.type"
                        #newColumnType = "ngModel">
                        <option value="text">Text</option>
                        <option value="checkbox">Checkbox</option>
                        <option value="select">Select</option>
                        <option value="select_multiple">Select Multiple</option>
                        <option value="textarea">Text Area</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="actions"
        *ngIf="newColumn | async; let newColumn">
        <button class="ui cancel deny button">Cancel</button>
        <button class="ui positive button"
                [disabled]="!newColumn.title"
                (click)="saveColumn(newColumn)">
            Save 
        </button>
    </div>
</div>