<h1>{{ pageTitle }}</h1>

<div class="ui segments">
    <div class="ui segment">
        <h2>Category: {{ category.title }}</h2>
        <a class="ui animated button" tabindex="0"
            [routerLink]="['/setup']">
            <div class="visible content">Back</div>
            <div class="hidden content">
                <i class="left arrow icon"></i>
            </div>
        </a>
        <button class="ui small primary labeled icon button"
                (click)="createField()">
            <i class="plus icon"></i>
            Create a new Field
        </button>
        <div *ngIf="errorMessage">{{ errorMessage }}</div>
        <div *ngIf="successMessage">{{ successMessage }}</div>
    </div>
    <div class="ui secondary segment">
        <div class="ui relaxed divided list">
            <div class="item" *ngFor="let field of fields">
                <i class="middle aligned red large minus link icon"
                    (click)="deleteField(field)">
                </i>
                <div class="middle aligned content">
                    <div class="ui action input">
                        <input type="text" required
                                [(ngModel)] = field.title
                                #fieldTitle = "ngModel"
                                >
                        <button class="ui icon button"
                                [disabled]="!fieldTitle.dirty || fieldTitle.invalid"
                                (click)="saveField(field); fieldTitle.control.markAsPristine()">
                            <i class="green checkmark icon"></i>
                        </button>
                    </div>
                    {{ field.type }}
                    <a class="ui primary button"
                        [routerLink]="['/setup', field.id]">
                        Edit Field
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui small modal new-field">
        <div class="header">
            Create a new Field
        </div>
        <div class="content"
            *ngIf="newField | async; let newField;">
            <form class="ui form">
                <div class="two fields">
                    <div class="field">
                        <label>Title</label>
                        <input type="text" required name="title"
                            [(ngModel)] = "newField.title"
                            #newFieldTitle = "ngModel">
                    </div>
                    <div class="field">
                        <label>Type</label>
                        <select class="ui fluid dropdown" required name="type"
                            [(ngModel)] = "newField.type"
                            #newFieldType = "ngModel">
                            <option value="text">Text</option>
                            <option value="checkbox">Checkbox</option>
                            <option value="select">Select</option>
                            <option value="select_multiple">Select Multiple</option>
                            <option value="textarea">Text Area</option>
                            <option value="log">Logging Field</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="actions"
            *ngIf="newField | async; let newField">
            <button class="ui cancel deny button">Cancel</button>
            <button class="ui positive button"
                    [disabled]="!newField.title && !newField.type"
                    (click)="saveField(newField)">
                Save 
            </button>
        </div>
    </div>