<div class="ui big breadcrumb">

    <!-- Category Breadcrumb -->
    <div class="section"
        [ngClass]="{'active': !category}">
        <div *ngIf="category; then categoryPrevious else categoryActive"></div>
    </div>

    <ng-template #categoryPrevious>
        <a [routerLink]="['/setup']">Category: {{ category.title }}</a>
        <i class="right chevron icon divider"></i>
    </ng-template>

    <ng-template #categoryActive>
        <div>Categories</div>
    </ng-template>

    <!-- Field Breadcrumb -->
    <div class="section"
        *ngIf="category"
        [ngClass]="{'active': !field}">
        <div *ngIf="field; then fieldPrevious else fieldActive"></div>
    </div>
    
    <ng-template #fieldPrevious>
        <a [routerLink]="['/setup', category.id]">Field: {{ field.title }}</a>
        <i class="right chevron icon divider"></i>    
    </ng-template>

    <ng-template #fieldActive>
        <div>Fields</div>
    </ng-template>

    <!-- Field-Options Breadcrumb -->
    <div class="section active"
        *ngIf="fieldOptions">
        <div>Select Options</div>
    </div>

    <!-- Field-Columns Breadcrumb -->
    <div class="section"
        *ngIf="fieldColumns || column"
        [ngClass]="{'active': !column}">
        <div *ngIf="column; then columnPrevious else columnActive"></div>
    </div>

    <ng-template #columnPrevious>
        <a [routerLink]="['/setup', category.id, field.id]">Column: {{ column.title }}</a>
        <i class="right chevron icon divider"></i>    
    </ng-template>

    <ng-template #columnActive>
        <div>Columns</div>
    </ng-template>

    <!-- Column-Options Breadcrumb -->
    <div class="section active"
        *ngIf="column">
        <div>Select Options</div>
    </div>
    
</div>