<h2 class="ui header">{{ pageTitle }}</h2>

<div class="ui segment">
    <div class="ui grid middle aligned content">
        <div class="thirteen wide column">
            <setup-breadcrumb
                [data]="data">
            </setup-breadcrumb>
        </div>
        <div class="three wide column">
            <!-- <setup-create
                [data]="data">
            </setup-create> -->
        </div>
    </div>
</div>

<app-setup-table
    [apiRoute]="apiRoute"
    [routeParams]="routeParams"
    [primary]="primary">
</app-setup-table>