<div class="ui clearing segment">
    <h2 class="ui left floated header">{{ pageTitle }}</h2>

    <button class="ui icon right floated button"
        (click)="toggleSortState()"
        [ngClass]="{'active': sorting}">
        <i class="ordered list icon"></i>
    </button>
</div>

<div class="ui segments">
    <div class="ui segment">
        <setup-breadcrumb
            [data]="data">
        </setup-breadcrumb>
    </div>
    <div class="ui secondary segment">

        <div *ngIf="sorting">
            <p-orderList [value]="setupService.children" [responsive]="true" (onReorder)="updateSortOrder()">
                <ng-template let-rowData pTemplate="item">
                    <div class="ui-helper-clearfix">
                        {{ rowData.title }}
                    </div>
                </ng-template>
            </p-orderList>
        </div>

        <app-setup-table *ngIf="!sorting"
            [apiRoute]="apiRoute"
            [routeParams]="routeParams"
            [primary]="primary">
        </app-setup-table>

    </div>
</div>