<div class="ui message transition hidden">
    <div class="header" *ngIf="message">{{ message.text }}</div>
</div>

<div class="item" *ngFor="let child of children">
    <div class="ui grid middle aligned content">
        <div class="one wide column">
            <i class="middle aligned red large minus link icon"
                (click)="delete(child)">
            </i>
        </div>
        <div class="eight wide column">
            <div class="ui fluid action input">
                <input type="text" required
                        [(ngModel)] = child.title
                        #title = "ngModel"
                        >
                <button class="ui icon button"
                        [disabled]="!title.dirty || title.invalid"
                        (click)="save(child); title.control.markAsPristine()">
                    <i class="green checkmark icon"></i>
                </button>
            </div>
        </div>
        <div class="three wide column meta">
            <span *ngIf="child.type">{{ child.type }}</span>
        </div>
        <div class="three wide column">
            <a class="ui right floated primary button"
                *ngIf="canNavigate(child.type)"
                (click)="navigateToChild(child)">
                {{ navigateText }}
            </a>
        </div> 
    </div>
</div>