<div class="ui big breadcrumb">
    <div class="section" *ngFor="let crumb of breadCrumbs"
        [ngClass]="{'active': crumb.active}">
        
        <div *ngIf="crumb.active; then activeTemplate else previousTemplate"></div>

        <ng-template #activeTemplate>
            <div>{{ crumb.title }}</div>
        </ng-template>

        <ng-template #previousTemplate>
            <a [routerLink]="crumb.link">{{ crumb.title }}</a>
            <i class="right chevron icon divider"></i>
        </ng-template>
    </div>
</div>